.textboxmedium
{
color: #000000; font-family: Tahoma; font-size: 8pt; width: 200px; height: 18px; 
               border: 1px solid #CCD0D6; background-color: #FFFFFF}
.msg
{
font-family: Tahoma; font-size: 8pt; color: #EB8E3B; font-weight: 600; padding-top:4px; padding-bottom:4px; border: 0; width: 300px; height: 25px;text-align: center;vertical-align: middle;}
.errMsg
{
font-family: Tahoma; font-size: 8pt; color: Red;  padding-top:0px; padding-bottom:0px;border: 0; height: 0px;text-align: center;vertical-align: middle;/* modified by sherif.omar 4,4,25*/}
.lable01
{
color: #0B2B4A; font-family: Tahoma; font-size: 8pt; padding-top: 3px; 
               padding-bottom: 3px}        
.number
{
font-family: Tahoma; font-size: 8pt; color: #800000; font-weight: 600; padding-bottom:4px}
.DropdownboxMedium   
{
color: #000000; font-family: Tahoma; font-size: 8pt; width: 200; height: 18; 
               border: 1px solid #CCD0D6; background-color: #FFFFFF}
.col1
{
   width: 130px;
   vertical-align: middle;
}
.col2
{
   
   vertical-align: top;
}
.col3
{
   margin-left: 20px;
   vertical-align: middle;
}
.divSearch
{
 position:absolute;top:0px;left=150px;width:650px;visibility=hidden;
 z-index:100;
}
.divDetails
{
    position:absolute;top:150px;left=50px;width:450px;visibility=hidden;
}
.JSCookMenuDisabled
{
 
    color: #B9852E;
}
.JSCookMenuEnabled
{
 
    color: #002245;
}
.delDivScroll {
    height: 150px; width: 450px; overflow: auto;direction: rtl;
}
.DropdownboxMedium2
{
color: #000000; font-family: Tahoma; font-size: 8pt; width: 200; height: 18; 
               border: 1px solid #CCD0D6;}
.iconOk
{
    border:0px none; BACKGROUND-IMAGE: url('../../images/DataGrid_Icon_ok.gif');
    WIDTH: 41px;
    /*CURSOR: hand;*/
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    BACKGROUND-COLOR: transparent
}
.iconNot
{
    border:0px none; BACKGROUND-IMAGE: url('../../images/DataGrid_Icon_not.gif');
    WIDTH: 41px;
    /*CURSOR: hand;*/
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 17px;
    BACKGROUND-COLOR: transparent
}


.textarealarge {
color: #000000; font-family: Tahoma; font-size: 8pt; width: 280px; height: 60px; 
border: 1px solid #CCD0D6; background-color: #FFFFFF;overflow: auto;}

.divMainContentMany
{
    height:168px;

}
/* This class moved to app\media\css\ar\Style.css */
/*
.divMainContent
{
    height:250px;;
    overflow-y:auto;
}
*/
.divContent1Fixed
{
    width:100%;
    height:320px;
    overflow-y:auto;
}

.divContent1Line
{
    width:100%;
    height:250px;
    overflow-y:auto;
}

.divContentConditionLineSub
{
    height:215px;
    overflow-y:auto;
}
