
.regPeriodMainCol1
{   
   vertical-align: middle;
   text-align: left;
   width: 28%;
}
.regPeriodMainCol2
{   
   vertical-align: middle;
   text-align: right;
   width: 22%;
}
/*controls []*/
.divSearch
{
 position:absolute;top:0px;left:150px;width:650px;visibility:hidden;
 z-index:100;
}

.divPeriodRevision
{
 position:absolute;top:50px;left:160px;width:650px;visibility:hidden;
 z-index:100;
}
/*controls []*/
.divDetails
{
    position:absolute;top:150px;left:50px;width:450px;visibility:hidden;
}
/*controls []*/
.JSCookMenuDisabled
{
    color: #B9852E;
}
/*controls []*/
.JSCookMenuEnabled
{
    color: #002245;
}
/*controls []*/
.delDivScroll {
    height: 140px; width: 450px; overflow: auto;direction: rtl;
}
.divMainContentMany
{
    height:145px;

}
/*controls []*/
/* This class moved to app\media\css\ar\Style.css */
/*
.divMainContent
{
    height:245px;;
    overflow-y:auto;
}
*/
/*controls []*/
.divContent1Fixed
{
    width:100%;
    height:290px;
    overflow-y:auto;
}
/*controls []*/
.divContent1Dynamic
{
    width:100%;
    height: 100%;
}

.divCondition{
    position:absolute;top:10px;left:80px;width:650px;visibility:hidden;
    z-index:100;
}
.divMainContentManyAutoScreen
{
 height:225px;
 overflow-y:auto;
}
.divMainContent1Employees
{
    height:230px;
 overflow-y:auto;
}

.divDecisionIntegrate
{
    height: 60px; width: 600px;
}

.buttonMiddle
{
    text-align: center; width:100%;
}



.AcceptDIV
{
    position:absolute;top:0px;left:30px;width:700px;visibility:hidden;
    z-index:100;
}

.regPeriodDivSearch
{
    position:absolute;top:70px;left:80px;height:650px;width:650px;visibility:hidden;
    z-index:100;
}
.regPeriodAddEditDiv
{
    position:absolute;top:1px;left:180px;height:650px;width:550px;visibility:hidden;
    z-index:100;
}

.divSearchLarge
{
    position:absolute;top:20px;left:80px;width:650px;visibility:hidden;
    z-index:100;
}
.manualscreen_DivScroll1 {
    height:200px; width:450px; overflow-y:auto;direction: rtl;
}
/*controls []*/
.divSearchManaulScreenQul
{
    position:absolute;
    top:0px;
    left:170px;
    width:700px;
    visibility:hidden;
    z-index:100;
}
.divContent2Fixed
{
    width:100%;
    height:205px;
    overflow:auto;
}

.needsDivContent2Fixed
{
    width:100%;
    height:300px;
    overflow:auto;
}

.divContentAllowNomin
{
    width:100%;
    height:270px;
    overflow:auto;
}
.divContent3Fixed
{
    width:100%;
    height:225px;
    overflow:auto;
}

.divMainContentRejection
{
    height:300px;
    overflow-y:auto;
}
.divMainContentRejection2
{
    height:270px;
    overflow-y:auto;
}

.divMainContentDecision
{
    height:325px;
    overflow-y:auto;

}

.divMainContentAddDecision
{
    height:260px;
    overflow-y:auto;

}

.divMainContentDecisionReason
{
    height:215px;
    overflow-y:auto;

}

.QulAddDivCandidate
{
  position:absolute;top:0px;left:100px;
   width:750px;
   visibility:hidden;
   z-index:100;
}
.divMainContentRejection
{
    height:270px;;
    overflow-y:auto;
}
.standardTable_Header_Custom
{
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 8pt;
    font-weight: 600;
    vertical-align:middle;
    height:23px;
    text-decoration:none;
    text-align: center;
}
.standardTable_Row1Custom
{
    color: #002A54;
    height: 23px;
    font-family: Tahoma;
    font-size: 8pt;
    background-color: #C8DFF4;
}
.standardTable_Row2Custom
{
    color: #002A54;
    height: 23px;
    font-family: Tahoma;
    font-size: 8pt;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom: 1px solid #FFFFFF;
    background-color: #D9ECFE;
}
.rejReasonAddDiv
{
position:absolute;top:0px;left:150px;
   width:650px;
   visibility:hidden;
   z-index:100;
}
.sucessMsg2
{
    font-family: Tahoma;
    font-size: 8pt; 
    color: black;  
    padding-top:0px; 
    padding-bottom:0px;
    border: 0; 
    width: 100px; 
    height: 0px;
    text-align: center;
    vertical-align: middle;
/* modified by sherif.omar 4,4,25*/
}
.divMainContentRevisionMinistry
{
    height:325px;
    overflow-y:auto;
}
.divSearchContent1Fixed2
{
    width:100%;
    height:180px;
    overflow:auto;
}
.divSearchContent1Fixed3
{
    width:100%;
    height:250px;
    overflow:auto;
}

.ManScrnQulScroll {
    height: 115px;
    width: 100%; 
    overflow-y: auto;
    direction: rtl;
}
.divSearchAddDicision
{
 position:absolute;top:0px;left:280px;width:450px;visibility:hidden;
 z-index:100;
}
.ChooseRevisionDay
{
 position:absolute;top:0px;left:250px;width:450px;visibility:hidden;
 z-index:100;
}
.divMainContentMany2
{
    height:260px;

}
.divSearchCustomAdd
{
 position:absolute;top:0px;left:200px;width:600px;height:100px; visibility:hidden;
 z-index:100;
}
.delDivScroll2 {
    height: 270px; width: 450px; overflow: auto;direction: rtl;
}
.delDivScroll4 {
    height: 260px; width: 450px; overflow: auto;direction: rtl;
}

.TitleMinistryAddDiv
{
    color: #002952;
    font-family: Simplified Arabic;
    font-size: 14pt;
    font-weight: 700;
    padding-top:0px;
    padding-bottom: 0px;
    text-align: center;
}
.lookupAddDivClass1
{
    position:absolute;top:70px;left:190px;width:650px;visibility:hidden;
    z-index:100;
}

.automaticscreen_DivScroll1 {
    height:180px; width:450px; overflow-y:auto;direction: rtl;
}


.divSearchForbidden
{
 position:absolute;top:50px;left:250px;width:500px;visibility:hidden;
 z-index:100;
}

.divMainCandidateResultContent
{
    height:260px;
    overflow-y:auto;
}
.candidateFactorMsg
{
font-family: Tahoma; font-size: 8pt; color: #EB8E3B;  padding-top:0px; padding-bottom:0px;border: 0; height: 0px;text-align: center;vertical-align: middle;/* modified by sherif.omar 4,4,25*/}

.customDiv1Width400
{
 position:absolute;
 top:50px;
 width:400px;
 visibility:hidden;
 left:300px;
 z-index:100;
}
.divContent3Fixed1
{
 
    width:100%;
    height:280px;
    overflow:auto;
}
